.*/
/build/
/run/config.toml
/run/*.pid
/run/host-processor
/run/runas
/.gettext.json
/local.properties
*.sif
*.imp
*.ipr
*.iws
*.idea
*.pyc
**/*.project
**/*.classpath
/dokka-python-api/build
/todo.txt
/dev/vm
